body {
    background-color: gray;
}

body .introducao_site {
    display: grid;
    text-align: center;
    justify-items: center;
    color: white;
}

body .introducao_site h1 {
    font-size: 30px;
}

body .introducao_site p {
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
}

body .sessao_operacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

body .sessao_operacoes #digitar_valores input {
    border-radius: 40px;
    padding: 2px;
    border: none;
}

body .sessao_operacoes #operacoes_matematicas {
    border-radius: 20px;
    padding: 5px;
}

body .sessao_operacoes #operacoes_matematicas option {
    text-align: center;
}